@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/


// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$duraton: .25s;

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

$primary: #ffaa00;
$link: #00FFFF;
// $link-hover: $bscs-primary-01;
// $info: $bscs-primary-02;

// $body-size: 16px;

$family-primary: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

@import 'bulma';

// a {
//   :hover {
//     transition: .2s ease-in-out;
//   }
// }

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;


// @import "../node_modules/bulma/bulma";
// @import '../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.min.css';
// @import "../node_modules/bulma-extensions/bulma-carousel/src/sass/index.sass";
// @import "../node_modules/bulma-extensions/src/sass/index.sass";

// @import "bulma-divider";
// @import "helpers";
// @import "../components/grid";
// @import "bscs-colors";
// @import "horizontal-card";
